/* Color Theme Swatches in Hex */
.Poseidon-1-hex {
  color: #012030;
}

.Poseidon-2-hex {
  color: #13678A;
}

.Poseidon-3-hex {
  color: #45C4B0;
}

.Poseidon-4-hex {
  color: #9AEBA3;
}

.Poseidon-5-hex {
  color: #DAFDBA;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.img_wolf {
  width: 500px;
}

.nav {
  background-color: #DAFDBA;
  display: block;
  overflow: hidden;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: #261813;
  padding: 8px;
  display: inline-block;
}

.nav a:hover {
  color: #ffffff;
  transition: 0.2s;
}

.about-me {
  background-color: #9AEBA3;
}

.my-friends {
  background-color: #45C4B0;
}

.friends-living {
  background-color: #13678A;
}

.mygroup {
  background-color: #9AEBA3;
}

.group-blair {
  /* background-color: green; */
  background-color: #45C4B0;
}

.group-jack {
  /* background-color: maroon; */
  background-color: #13678A;
}

.group-kyrylo {
  /* background-color: black;
  color: white */
  background-color: #45C4B0;
}

.kharkiv {
  background-color: #9AEBA3;
}

.pictures {
  background-color: #45C4B0;
}

.map {
  background-color: #13678A;
}

.contact {
  background-color: #9AEBA3;
}

.forma {
  background-color: #45C4B0;
}

footer {
  text-align: center;
  background-color: #DAFDBA;
}

footer p {
  padding-top: 40px;
}

footer a {
  color: #000;
}